/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;

    height: 100vh;
  
  }
  
  #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(var(--width) * var(--cols));
    align-items: center;
  }
  
  .video-container {
    width: var(--width);
    height: var(--height);
    position: relative;
  }
  
  video {
    height: 100%;
    width: 100%;
  }