/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;

    height: 100vh;
  
  }
  
  #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(var(--width) * var(--cols));
    align-items: center;
  }
  .galleryPin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
  }
  
  .video-container {
    width: var(--width);
    height: var(--height);
    position: relative;
    
  }

  .video-container:hover > div{
    display: block !important
  }

  #pin {
    width: 80vw !important;
    height: 80vh !important;
    position: relative;

  }
  
  video {
    height: 100%;
    width: 100%;
  }
  .slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
}
.slider-arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: none;
}

.arrow-btn {
  top: 45%;
}
.next {
  float: right;
}

.review-slider{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.active{
  color: #0e78f9
}

.react-tooltip-lite, .react-tooltip-lite-arrow {
  z-index: 124124124124 !important;
}